@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .imf-content{
    @apply p-4 w-full h-full flex
  }

  .imf-meta-container > h1, .imf-areas-container > h1 {
    text-align: center;
    font-weight: 700;
    text-decoration: underline;
    margin-bottom: 8px;
  }

  .imf-variation-container {
    @apply w-[70%] border p-2
  }
  .imf-left-side{
    @apply w-[40%] bg-white p-2 border max-w-[50%]
  }
  .imf-areas-container{
    margin-bottom: 11px;
    @apply text-wrap
  }
  .imf-areas-container details{
    @apply cursor-pointer
  }
  .imf-areas-container p{
    @apply ml-3
  }

  .imf-areas-container p.poly code:nth-child(odd){
    @apply text-blue-800
  }

  .imf-areas-container p.poly code:nth-child(even){
    @apply text-pink-800
  }

  .imf-content .icnVariation {
    @apply flex justify-center h-[calc(100%-3.5rem)] w-full
  }

  .imf-meta-container{
    white-space: nowrap;
    overflow-x: auto;
    margin-bottom: 11px;
  }

  .imf-meta-container code.att{
    @apply text-pink-500
  }
  .imf-meta-container code.val{
    @apply ml-1 text-blue-800
  }
}