@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import "node_modules/tailwindcss/base.css";
@import "node_modules/tailwindcss/components.css";
@import "node_modules/tailwindcss/utilities.css"; */

body{
  height: 100vh;
  width: 100vw;
  position: relative;
}
.dump_red{
  border: 1px solid red !important;
}
.dump_green{
  border: 1px solid green !important;
}

@layer components{
  .floatmenu{
    @apply border shadow-md
  }
  .floatmenu .container{
    @apply bg-white w-60 flex flex-col text-base py-1 px-1 text-gray-500 shadow-md rounded-md
  }
  .floatmenu .list{
    @apply flex bg-white hover:bg-gray-100 py-1 px-1 cursor-pointer text-gray-900
  }
  .floatmenu hr{
    @apply border border-gray-300 block mt-1 my-1 border-solid
  }
}

@layer components{
  /* general cb */
  div.cb-room:hover, tr.cb-room:hover{
    @apply bg-gray-100
  }
  /* div.cb-room:active, tr.cb-room:active {
    @apply bg-blue-400
  } */
  details.cb-room:active > summary, details.cb-room:hover > summary {
    @apply bg-none
  }

  /* listtree vue */
  .listtree {
    @apply h-full w-full text-nowrap shadow-md border p-2 
  }
  .listtree-list {
    @apply h-full overflow-auto
  }
  
  /* untuk checkbox listtree */
  .listtree-list details, .listtree-list details div.cb-room {
    @apply ml-3
  }  
  .listtree-list .chevron {
    @apply cursor-pointer text-sm content-center
  }
  .listtree-list .cb-window, .listtree-list .cb-window-all {
    @apply mr-1
  }
  .listtree-list .item {
    @apply text-xs
  }}

@layer components {
  .clc {
    @apply top-0 left-0 h-full w-full z-50 absolute bg-[rgba(0,0,0,0.5)]
  }
  .error-form {
    @apply text-sm text-red-600 text-left
  }
}

.clc-buffer {
  z-index: 100;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  
  animation: spin 2s linear infinite;

  position: absolute;
  width:20px;
  height:20px;
  top:calc(25% + 20px);
  left:calc(50% - 10px);
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

.ws-line-1:hover, .ws-line-3:hover{
  cursor:n-resize;
}
.ws-line-2:hover, .ws-line-4:hover{
  cursor:ew-resize;
}
.ws-dot-1:hover, .ws-dot-3:hover{
  cursor:nwse-resize;
}
.ws-dot-2:hover, .ws-dot-4:hover{
  cursor: nesw-resize;
}

@layer components {
  .button-nav {
    @apply px-3 font-semibold shadow-sm mx-2 hover:bg-slate-100
  }
  .button {
    @apply py-1 px-3 font-semibold shadow-sm mx-2 bg-neutral-200 hover:bg-neutral-400 rounded-full
  }
  .button-danger {
    @apply py-1 px-3 font-semibold shadow-sm mx-2 rounded-full bg-red-500 hover:text-white hover:bg-red-700
  }
  .button-violet {
    @apply text-white py-1 px-3 font-semibold shadow-sm mx-2 bg-violet-400 hover:bg-violet-600 rounded-full
  }
  .button-primary {
    @apply text-white py-1 px-3 font-semibold shadow-sm mx-2 bg-blue-500 hover:bg-blue-700 rounded-full
  }
  .button-safe {
    @apply text-white py-1 px-3 font-semibold shadow-sm mx-2 bg-green-400 hover:bg-green-600 rounded-full
  }
}

@layer components {
  code.filename {
    @apply text-pink-500 bg-gray-100 text-sm p-1 mr-2 rounded-sm
  }
}