@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import "node_modules/tailwindcss/base.css";
@import "node_modules/tailwindcss/components.css";
@import "node_modules/tailwindcss/utilities.css"; */

body{
  height: 100vh;
  width: 100vw;
  position: relative;
}
.dump_red{
  border: 1px solid red !important;
}
.dump_green{
  border: 1px solid green !important;
}

@layer components{
  .floatmenu{
    @apply border shadow-md
  }
  .floatmenu .container{
    @apply bg-white w-60 flex flex-col text-xl py-1 px-1 text-gray-500 shadow-lg
  }
  .floatmenu .list{
    @apply flex bg-white hover:bg-gray-100 py-1 px-1 cursor-pointer text-gray-900
  }
  .floatmenu hr{
    @apply border border-gray-300 block mt-1 my-1 border-solid
  }
}

@layer components {
  .clc {
    @apply top-0 left-0 h-full w-full z-50 absolute bg-[rgba(0,0,0,0.5)]
  }
}

.ws-line-1:hover, .ws-line-3:hover{
  cursor:n-resize;
}
.ws-line-2:hover, .ws-line-4:hover{
  cursor:ew-resize;
}
.ws-dot-1:hover, .ws-dot-3:hover{
  cursor:nwse-resize;
}
.ws-dot-2:hover, .ws-dot-4:hover{
  cursor: nesw-resize;
}
